.usa {
    padding-top: 35px;
    .usa__content1 {
        color: #e0af3d;
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        h2 {
            padding: 10px 0;
        }
        .usa__cards {
            justify-content: center;
            display: flex;
            .usa__card {
                border-radius: 10px;
                padding: 10px;
                background-color: #0000007A;
                width: 390px;
                h3 {
                    color: #e0af3d;
                    font-size: 24px;
                }
            }
            ul {
                text-align: left;
                li {
                    color: #fff;
                }
            }
        }
    }
}

.user__image {
    width: 100%;
    position: relative;
    margin-top: 0px;
}

.user__image {
    width: 100%;
    position: relative;
    margin-top: 0px;
}

.usa__mobile {
    display: none;
}

@media(max-width: 821px) {
    .usa__content {
        display: none;
    }

    .usa__mobile {
        display: block;
        .usa__card {
                border-radius: 10px;
                padding: 10px;
                background-color: #0000007A;
                width: 390px;
        
                h3 {
                    color: #e0af3d;
                    font-size: 24px;
                }
            }

        //         .card-img-overlay {
        //     background: #000;
        //     opacity: 0.7;
        // }
    }
        .card-img-overlay .card-title{
            color: #e0af3d;
            padding: 10px;
            border-radius: 10px;
            background-color: #0000007A;
            width: 390px
        }
        h3{
            color: #e0af3d;
        }
        ul{
            text-align: left;
        }

}